<%= form_with(model: track) do |form| %>
  <% if track.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
        <% track.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :artist_id, "Artist", style: "display: block" %>
    <%= form.number_field :artist_id %>
  </div>

  <div>
    <%= form.label :album_id, "Album", style: "display: block" %>
    <%= form.number_field :album_id %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :medium_id, "Medium", style: "display: block" %>
    <%= form.number_field :medium_id %>
  </div>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.number_field :number %>
  </div>

  <div>
    <%= form.label :disc_number, style: "display: block" %>
    <%= form.number_field :disc_number %>
  </div>

  <div>
    <%= label_tag 'track[listened]', 'Listened', style: "display: block" %>
    <%= check_box_tag 'track[listened]', '1', @user_pref&.listened %>
  </div>

  <div>
    <%= label_tag 'track[rating]', 'Rating', style: "display: block" %>
    <%= number_field_tag 'track[rating]', @user_pref&.rating %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
