<% user_pref = local_assigns[:user_pref] || @user_pref || @user_prefs&.dig(track.id) %>
<div id="<%= dom_id track %>">
  <p>
    <strong>Artist:</strong>
    <%= track.artist_name %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= track.album_title %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= track.title %>
  </p>

  <p>
    <strong>Medium:</strong>
    <%= track.medium_name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= track.number %>
  </p>

  <p>
    <strong>Disc number:</strong>
    <%= track.disc_number %>
  </p>

  <p>
    <strong>Listened:</strong>
    <%= user_pref&.listened %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= user_pref&.rating %>
  </p>

</div>
