<div id="<%= dom_id track %>">
  <p>
    <strong>Artist:</strong>
    <%= track.artist %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= track.album %>
  </p>

  <p>
    <strong>Listened:</strong>
    <%= track.listened %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= track.title %>
  </p>

  <p>
    <strong>Media:</strong>
    <%= track.media %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= track.number %>
  </p>

  <p>
    <strong>Disc number:</strong>
    <%= track.disc_number %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= track.rating %>
  </p>

</div>
