<div id="<%= dom_id artist %>">
  <p>
    <strong>Name:</strong>
    <%= artist.name %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= artist.genre_id %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= artist.priority_id %>
  </p>

  <p>
    <strong>Phase:</strong>
    <%= artist.phase_id %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= artist.complete %>
  </p>

  <p>
    <strong>Wikipedia:</strong>
    <%= artist.wikipedia %>
  </p>

  <p>
    <strong>Discogs:</strong>
    <%= artist.discogs %>
  </p>

</div>
