<%= form_with(model: artist) do |form| %>
  <% if artist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
        <% artist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :wikipedia_discography, style: "display: block" %>
    <%= form.text_field :wikipedia_discography %>
  </div>

  <div>
    <%= form.label :discogs, style: "display: block" %>
    <%= form.text_field :discogs %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.label :wikipedia, style: "display: block" %>
    <%= form.text_field :wikipedia %>
  </div>

  <div>
    <%= form.label :official_page, style: "display: block" %>
    <%= form.text_field :official_page %>
  </div>

  <div>
    <%= form.label :bandcamp, style: "display: block" %>
    <%= form.text_field :bandcamp %>
  </div>

  <div>
    <%= form.label :last_fm, style: "display: block" %>
    <%= form.text_field :last_fm %>
  </div>

  <div>
    <%= form.label :google_genre_link, style: "display: block" %>
    <%= form.text_field :google_genre_link %>
  </div>

  <div>
    <%= form.label :all_music, style: "display: block" %>
    <%= form.text_field :all_music %>
  </div>

  <div>
    <%= form.label :all_music_discography, style: "display: block" %>
    <%= form.text_field :all_music_discography %>
  </div>

  <div>
    <%= label_tag 'artist[priority_id]', 'Priority', style: "display: block" %>
    <%= number_field_tag 'artist[priority_id]', @user_pref&.priority_id %>
  </div>

  <div>
    <%= label_tag 'artist[phase_id]', 'Phase', style: "display: block" %>
    <%= number_field_tag 'artist[phase_id]', @user_pref&.phase_id %>
  </div>

  <div>
    <%= label_tag 'artist[complete]', 'Complete', style: "display: block" %>
    <%= check_box_tag 'artist[complete]', '1', @user_pref&.complete %>
  </div>

  <div>
    <%= label_tag 'artist[rating]', 'Rating', style: "display: block" %>
    <%= number_field_tag 'artist[rating]', @user_pref&.rating %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
