<div id="<%= dom_id album %>">
  <p>
    <strong>Artist:</strong>
    <%= album.artist_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= album.year %>
  </p>

  <p>
    <strong>Listened:</strong>
    <%= album.listened %>
  </p>

  <p>
    <strong>Release type:</strong>
    <%= album.release_type_id %>
  </p>

  <p>
    <strong>Media:</strong>
    <%= album.media_id %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= album.edition_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= album.rating %>
  </p>

</div>
