<% user_pref = local_assigns[:user_pref] || @user_pref || @user_prefs&.dig(album.id) %>
<div id="<%= dom_id album %>">
  <p>
    <strong>Artist:</strong>
    <%= album.artist_name.join(', ') %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= album.year %>
  </p>

  <p>
    <strong>Release type:</strong>
    <%= album.release_type_name %>
  </p>

  <p>
    <strong>Medium:</strong>
    <%= album.medium_name %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= album.edition_name %>
  </p>

  <p>
    <strong>Listened:</strong>
    <%= user_pref&.listened %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= user_pref&.rating %>
  </p>

</div>
