<%= form_with(model: album) do |form| %>
  <% if album.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :artist_id, style: "display: block" %>
    <%= form.number_field :artist %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year %>
  </div>

  <div>
    <%= form.label :listened, style: "display: block" %>
    <%= form.check_box :listened %>
  </div>

  <div>
    <%= form.label :release_type, style: "display: block" %>
    <%= form.number_field :release_type %>
  </div>

  <div>
    <%= form.label :media, style: "display: block" %>
    <%= form.number_field :media %>
  </div>

  <div>
    <%= form.label :edition, style: "display: block" %>
    <%= form.number_field :edition %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.number_field :rating %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
