<div id="<%= dom_id tag %>">
  <p>
    <strong>Name:</strong>
    <%= tag.name %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= tag.artist %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= tag.album %>
  </p>

  <p>
    <strong>Track:</strong>
    <%= tag.track %>
  </p>

  <p>
    <strong>Playlist:</strong>
    <%= tag.playlist %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= tag.comment %>
  </p>

</div>
