<div id="<%= dom_id tag %>">
  <p>
    <strong>Name:</strong>
    <%= tag.name %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= tag.artist_id %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= tag.album_id %>
  </p>

  <p>
    <strong>Track:</strong>
    <%= tag.track_id %>
  </p>

  <p>
    <strong>Playlist:</strong>
    <%= tag.playlist_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= tag.comment %>
  </p>

</div>
