<div id="<%= dom_id playlist %>">
  <p>
    <strong>Sequence:</strong>
    <%= playlist.sequence %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= playlist.name %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= playlist.platform %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= playlist.comment %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= playlist.genre_id %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= playlist.year %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= playlist.source %>
  </p>

</div>
